* {
  margin:0;
  padding:0;
}


body {
  font: 100% / 1.5 Arial;
  background-color: rgb(245,235,100);
}

body, html {
  overflow: hidden;
}

.container-fluid {
	margin: 0 !important;
	padding: 0 !important;
}

.inputForm info {
	margin-bottom: 20px;
}

.footer {
	margin-left: 40px;
}

.footer a {
	color: #9494B8
}

i {
	margin-right: 10px;
}
